body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #67809F;
}

#app-container{
  background: #fff;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 800px;
  padding: 12px;
}

h1 {
  font-weight: 200;
}

article{
  margin: 20px;
  padding: 10px;
  border: #333 1px solid;
}

button{
  padding: 10px;
  font-size: 18px;
  border: 0;
  background: #fff;
  border: 1px solid #67809F;
  color: #67809F;
  cursor: pointer;
}

p {
  font-size: 18px;
  line-height: 2;
  background: lightyellow;
  padding: 10px;
}


main {
  display: flex;
}

mark {
  background: lightblue;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
}

aside{
  padding: 20px;
}

aside span{
  display: inline-block;
  padding: 10px;
  border: 1px solid rebeccapurple;
  text-align: center;
  color: rebeccapurple;
  cursor: pointer;
}

section div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


section div span{
  padding: 10px;
  font-size: 21px;
  vertical-align: middle;
}

section div span:last-child{
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}

.status--inactive{
  color: firebrick;
}


.status--active{
  color: darkcyan;
}
